/*
Copyright - 2024 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/
/*
Changes:
	- v1.0.0:
		- created
*/
/* ------------------------------------------------------------------------------------------------------------------------- */

a,
body,
h1,
h2,
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-color: black;
		--main-color: white;
		--link-hover-color: lightgray;
		--link-color: orange;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-background-color: white;
		--main-color: black;
		--link-hover-color: #505050;
		--link-color: #8b0000;
	}
}

body {
	line-height: normal;
	font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5em;
	margin-left: 2em;
	margin-right: 2em;
	color: var(--main-color);
	background-color: var(--main-background-color);
}

body.cyDark {
	--main-background-color: black;
	--main-color: white;
	--link-hover-color: lightgray;
	--link-color: orange;
}

body.cyLight {
	--main-background-color: white;
	--main-color: black;
	--link-hover-color: #505050;
	--link-color: #8b0000;
}

header {
	position: sticky;
	top:0;
	background-color: var(--main-background-color);
	margin-top: 1em;
	margin-bottom: 1em;
	border-bottom-style: solid ;
	border-bottom-width: 0.1em;
	text-align: center;
}
footer {
	border-top-style: solid ;
	border-top-width: 0.1em;
	position: sticky;
	bottom: 0em;
	left: 2em;;
	background-color: var(--main-background-color);
	padding-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

footer span {
	margin-left: 1em;
	margin-right: 1em;

}

label {
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    font-size: 140%;
    margin-top : 4em;
    margin-bottom : 4em;
}

h2 {
    font-size:  120%;
    margin-top : 2em;
    margin-bottom : 2em;
    margin-left : 2em;
}

p {
    margin-left : 4em;
}
P.error {
    color: red;
}

a.josmedit:visited {
	color : gray;
}

.josmButton{
	margin-left: 1em;
	background-color: rgb(41, 193, 243);
	color: white;
}

.josmButton.josmButtonVisited {
	background-color: gray;
	color:black;
}

.josmButton:hover, .josmButton.josmButtonVisited:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

#waitAnimation 
{
	margin-bottom: 0em; 
	height: 0.2em; width: 100%; 
	overflow: hidden;
	visibility: hidden;
}

#waitAnimationBullet { 
	background-color: red; 
	height: 100%; 
	width: 3em; 
	animation: 2s linear 0s infinite alternate WaitAnimationBullet;
}

#cyDarkLight {
	margin-left: 2em;;
}

main.errorsOnly h2 {
	display: none !important;
	width: 0;
	height: 0;
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	left: 0;
	border-width: 0 !important;
	border-style: none !important;
	animation: none;
	visibility: hidden;
	transform: scale(0);
}
main.errorsOnly h2:has(p) {
	visibility:visible;
	transform : scale(1,1);
}
main.errorsOnly h1 {
	display: none !important;
	width: 0;
	height: 0;
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	left: 0;
	border-width: 0 !important;
	border-style: none !important;
	animation: none;
	visibility: hidden;
	transform: scale(0);
}
main.errorsOnly h1:has(h2 > p) {
	visibility:visible;
	transform : scale(1,1);
}


@keyframes WaitAnimationBullet { from { margin-left: 0%; } to { margin-left: calc(100% - 1em); } }

